:root { /* El root es para globalizar valores que vamos a utilizar dentro de todo el archivo*/
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --blue: #0aa1dd;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body { /*tipo de letra,tamaño,fondo,color letra 1em significan 16 pixeles, son relativos dependiendo
    de la pantalla que tengamos*/
    font-size: 1em;
    background-color: var(--white);
    color: #1d2345;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
.login{ /* Grid toma una serie de elementos del div principal y los alinea por filas y place-items me centra
    lo del grid */
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container{ /* grid-template-rows me ayuda a dividir las filas*/
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo-login{ /* justify-self center nos ayuda a justificar un cuadro dentro de su contenedor*/
    width: 18em;
    margin-bottom: 48px;
    justify-self: center;
}
.form{/* Flex-direction es lo mismo que el grid*/
    display: flex;
    flex-direction: column;
}
.form a{/* con el text decoration none desaparece el formato predeterminado en azul y con linea inferior*/
    color: var(--blue);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}
.label{ /*bold es para negrilla*/
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{ /*none ocultar border radius para redondear las puntas // cursor pointer para cuando tenga el boton en flecha
    aparezca la mano*/
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;  
}
.input-user{
    margin-bottom: 22px;
}
.primary-button{
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.secondary-button{
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--blue);
    color: var(--blue);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.tercer-button{
    background-color: var(--blue);
    border-radius: 5px;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.icons { /*estilos para todos los iconos*/
    color: #1d2345;
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.seccion-navbar { /*position fixed es para dejar fijo en la pagina, z index para acercar mas algun elemento
    hacia el usuario */
    position: fixed;
    z-index: 2;
    background: #ecf7f8;
    width: 100%;
}

.container-nav-father { /*Div padre del navbar, display flex coloca los div en una sola fila y justify
    para ajustar los elementos en el espacio de la pantalla, height alto , items me afecta solo lo que 
    esta adentro del Div y box-shadow es el sombreado*/
    display: flex;
    justify-content: space-between;
    height: 4em;
    align-items: center;
    box-shadow: 1px 2px 12px rgba(10, 116, 121, 0.4);
}

.container-nav-son { /*el gap espacio que hay entre las filas y/o columnas*/
    display: flex;
    gap: 2em;
    margin-left: 3%;
    margin-right: 3%;
}

.navbar-estilos{
   /* position: fixed;*/
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 2%;
    height: 7em;
    align-items: center;
    color: #1d2345;
}

a {
    margin-right: 2em;
    text-decoration: none;
}

.carousel {
    padding-top: 10em;
    padding-bottom: 1em;
}

.carousel-caption { /*position absolute acomoda los elementos dentro de un contenedor, bottom espacio abajo
    el padding ampliar dependiendo de lo que necesite*/
    position: absolute;
    right: 15%;
    bottom: 7.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.textInfo{ /*text-shadow sombre la letra*/
    color: #79DAE8;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.titulo-seccion{
    text-align: center;
    font-size: 2.5em;
    color:#1d2345;
    text-shadow: 0.1em 0.1em 0.2em #1d2345;
    margin-top: 20px;
}

.card {
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 10%;
    width: 302px;
}

.card img {
    height: 220px;
    width: 300px;
}

.container-nosotros-father {
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
    color: #1d2345;

}
.container-nosotros-son {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    text-align: center;

}
.servicios{
    margin-left: 10%;
    margin-right: 10% ;
}

.container-servicios-father {
    text-align:left;
    margin-top: 5%;
    font-size: 2em;
    color: #19a1f6;

}
.container-servicios-son {
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
    text-align:left;
}

.container-servicios-father2 {
    text-align:right;
    margin-top: 5%;
    font-size: 2em;
    color: #19a1f6;

}
.container-servicios-son2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
    text-align:right;
}

.img-servicios img {
    width: 350px;
    height: 250px;
    display: flex;
    margin-top: 5%;
}

/* Michell - Footer y formulario */
.formulario {
    background-color: #d3f0f9;
    text-align: center;
    font-family: "Playfair Display, serif";
    align-items: center;
    width: 50%;
    margin-left: 24%;
    border-radius: 1%;
    margin-bottom: 50px;
}  

  .formulario h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.formulario i {
    margin-right: 8px;
}

.formulario label {
    margin-top: 5px;
}

.formulario button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    background-color: #1d2345;
    padding: 10px 0 40px 0;
    font-family: "Playfair Display, serif";
}

.footer .logo img{
    position: relative;
    width: 17em;
    height: 6em;
    margin-left: 80px;
    margin-top: 10px;
}

.footer .row .col .contacto i{
    color: #eef3f7;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #aadff2;
    border-radius: 50%;
    margin-bottom: 10px;
}

.footer .row .col .contacto {
    display:inline-block;
}

.footer .row .col .contacto h2{
    color: #f7f6f5;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;

}
.footer .row .col .contacto h3{
    color: #f5f6f7;
    display: inline-block;
    margin-left: 10px;
    margin-right: 40px;
    font-size: 20px;
}


